<%- include('head-er') %>

<p><%= locals.message %></p>

<% if (locals.messages.length > 0) { %>
    <div class="message-card">
        <% locals.messages.forEach(message => { %>
            <h2><%= message.title %></h2>
            <p><%= message.text %></p>
            <% if (locals.currentUser) { %>
                <% if (locals.currentUser.membership) { %> 
                    <p><%= message.user_id %> (username goes here)</p>
                    <p><%= message.timestamp %></p>
                <% } %>
                <% if (locals.currentUser.admin) { %>
                    <form action="/messages/delete" method="POST">
                        <input type="hidden" name="messageID" id="messageID" value="<%= message.id %>" >
                        <input type="submit" value="Delete">
                    </form>
                <% } %>
            <% } %>
        <% }) %>
        </div>
<% } else { %>
    <p>There are no messages...</p>
<% } %>

<% if (locals.currentUser) { %>
    <a class="btn" href="/messages/new">New Message</a>
<% } %>

<%- include('footer') %>